.contenedor-casas{
    @include grid(3,1fr)
}
.anuncio-casa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.imagen-anuncio{
    height: 25rem;
    width: auto;
}

.contenedor-iconos{
display: flex;
    img{
        max-height: 3rem;
    }
}